// Place all the styles related to the Wrappers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#menu-title-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.each-title{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 5px;
    color: black;
    box-shadow: 0px 0px 5px blue;
    width: 400px;
    padding:6px;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#image{
    width: 300px;
    height: 214;
}

#search-bar{
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    
}
img{
    height: 320px;
    width: 300px;
}
#blank-search{
    width:400px;
    margin:auto;
}

.link {
    width: 150px;
    margin: auto;
    
}

.link a{
    text-decoration: none;
    color: white;
}

button{
    background-color: blue;
 
}
.invalid-search{
    width: 550px;
    color: red;
    margin: auto;
}
// Nutrient CSS

#nutrient-show{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px;
    width: 350px;
    height: 200px;
    margin: auto;
    padding: 20px;
   
}

.error{
    width: 490px;
    color: red;
    margin: auto;
}

#show-result{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 3px solid black;
    padding-top: 40px;
}